# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfplan
crash.log

# Terragrunt
.terragrunt-cache/
terragrunt-debug.tfvars.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Helm
charts/*/charts/
charts/*/*.tgz
